.popup {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
 
.popup-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  max-height: 70%;
  margin-top: calc(100vh - 85vh - 20px);
  background: var(--color-light);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid var(--color-outline);
  overflow: auto;
}
 
.popup .close-icon {
  cursor: pointer;
  position: fixed;
  right: calc(25% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: var(--color-light);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid var(--color-outline);
  font-size: 20px;
}
