.book-form {
  padding-top: 30px;
}

.group-btn {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
  justify-content: center;
}

.form-heading {
  font-size: var(--size-l);
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}
