.button {
  color: var(--color-light);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--size-s);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary {
  background-color: var(--color-secondary);
}

.btn-warning {
  background-color: var(--color-warring);
}

.btn-small {
  width: 100px;
}

.btn-large {
  width: 160px;
}
