@import url(../../styles/variable.css);

.footer-icon {
  margin: 18px 0px 35px 0px;
}

@media only screen and (max-width: 992px) {
 .footer-icon {
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-icon {
    padding-bottom: 90px;
  }
}
