:root {
  --primary-background: #1f2e35;
  --main-color: #ffffff;
  --sub-color: #02897a;
  --outline-color: #bcd0e5;
  --size-xxxl: 40px;
  --size-xxl: 36px;
  --size-xl: 34px;
  --size-l: 32px;
  --size-m: 30px;
  --size-s: 24px;
  --size-xs: 22px;
  --size-xxs: 16px;
}
